<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TeLlevoApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ username }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Elige una opción para continuar:</p>

      <div class="button-container">
        <ion-button color="success" (click)="programarViaje()">
          Programar Viaje (Con movilización propia)
        </ion-button>

        <ion-button color="primary" (click)="buscarViaje()">
          Buscar Viaje (Sin movilización propia)
        </ion-button>

      </div>
    </ion-card-content>
  </ion-card>


  <ion-footer class="footer">
    <ion-button class="logout-button" (click)="cerrarSesion()">
      Cerrar Sesión
    </ion-button>
  </ion-footer>

</ion-content>
