  /* Estilos LOGO */
.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 350px;
    height: 350px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #00fff2; 
  }


  ion-content {
    --background: none; 
  }
  
  .page-background {
    background-image: url('/assets/img/background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%; 
  }

  /* Estilo botones */
.login-button {
    --background: #4caf99; /* Color de fondo verde */
    --background-activated: #45A049; /* Color de fondo al presionar */
    --border-radius: 30px; /* Bordes redondeados */
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de elevación */
    --color: white; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    margin-top: 20px; /* Espacio superior */
    transition: transform 0.2s; /* Transición para efecto de presionar */
  
    /* Efecto de presionar */
    &:active {
      transform: scale(0.98); /* Reduce ligeramente el tamaño al presionar */
    }
  }
  
  .reset-button {
    --border-radius: 10px; /* Bordes redondeados */
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de elevación */
    --color: white; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    margin-top: 10px; /* Espacio superior */
    transition: transform 0.2s; /* Transición para efecto de presionar */
  
    /* Efecto de presionar */
    &:active {
      transform: scale(0.98); /* Reduce ligeramente el tamaño al presionar */
    }
  }

  ion-toolbar {
    --background: rgb(116, 145, 146);   
  }

  ion-item{
    --background: rgba(126, 177, 179, 0.452);   
    --border-radius: 30px;
    --border-color: transparent;
    margin-bottom: 10px;
  }

  .recuerdame{
    --background: none;
  }