<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Oh, ¿Perdido en el mar?</ion-card-title>
        <p>(ERROR 404)</p>
      </ion-card-header>      
      <ion-card-content>       
        <ion-img src="./assets/img/sq.jpg"></ion-img>
        <p class="tittle">Lleváme de vuelta</p>
        <ion-button [routerLink]="['/login']">Aqui</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>