<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comenzar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page_background">


  <div #mapContainer id='map' style='width: 100%; height: 300px;'></div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Dirección:</strong> {{ destino }}</p>
      <p><strong>Capacidad:</strong> {{ capacidad }}</p>
      <p><strong>Hora Salida:</strong> {{ horario }}</p>
      <p><strong>Precio:</strong> ${{ precio }}</p>
    </ion-card-content>
  </ion-card>


  <div class="cancelar">
    <ion-button (click)="cancelarViaje()">
      Cancelar
    </ion-button>
  </div>
</ion-content>
