ion-content {
    --background: none; 
  }
  
  .page-background {
    background-image: url('/assets/img/background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%; 
  }

  ion-toolbar {
    --background: rgb(116, 145, 146);   
  }


  ion-item {
    --background: rgba(255, 255, 255, 0.103); /* Fondo blanco con opacidad */
    border-radius: 35px; /* Bordes redondeados */
    --padding-top: 30px;
  }
  
  /* Estilo para el campo de texto dentro del ion-item */
  ion-input {
    --padding-start: 16px; /* Añadir algo de relleno a la izquierda */
    --padding-end: 16px; /* Añadir algo de relleno a la derecha */
    --border-radius: 20px; /* Bordes redondeados */
    --background: transparent; /* Fondo transparente */
  }
  
  /* Opcional: Estilo para el label flotante */
  ion-label {
    --color: #ffffff; /* Color del texto del label */
  }