<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Viaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-content class="contenedor">
    <ion-item *ngFor="let viaje of viajes">
      <ion-label>
        <h2>Dirección: {{ viaje.destino }}</h2>
        <p>Capacidad: {{ viaje.capacidad }}</p>
        <p>Hora Salida: {{ viaje.horario }}</p> 
        <p>Precio: ${{ viaje.precio }}</p>
      </ion-label>
      <ion-button slot="end" (click)="solicitar(viaje)">Solicitar</ion-button>
    </ion-item>
  <ion-footer>
    <div class="button-container">
      <ion-button class="cancelar" color="light" (click)="cancelar()">Cancelar</ion-button>
    </div>
  </ion-footer>
</ion-content>
